.flight-detail-header {
  width: 95%;
}

.airlines-policy .text-dark {
  font-size: 15px;
}
/* .airlines-policy {
  background-color: aquamarine;
} */

.flights-details-container {
  margin-top: 130px;
}

@media screen and (max-width: 576px) {
  .flight-detail-header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
  }
}
