.guide-card .card-title {
  font-size: 18px;
  font-weight: 600;
  color: #000000;
}
.guide-card .cardSub-title {
  font-size: 12.7px;
  font-weight: 600;
  color: #8dd3bb;
}
.guide-card {
  border: 1px solid #ccf5ec;
  background-color: #f8fcfb;
}

.guide-card .guide-rate {
  font-size: 18px;
  color: #8dd3bb;
  font-weight: 600;
}
.guide-card .quote {
  font-size: 12.9px;
  color: #333333;
  opacity: 0.5;
  font-weight: 600;
}
