.header-section {
  background-image: url(https://i.ibb.co/6tNDGTH/travel-zone-header-img.jpg);
  width: 98%;
  height: 599px;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fafbfc;
  border-radius: 7px;
}
