.search-section {
  display: flex;
  /* grid-template-columns: repeat(7, 1fr); */
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  /* width: 50%; */
  padding-top: 7%;
}

/* .search-section-container {
  height: 220px;
  background: #ffffff;
  box-shadow: 0px 4px 16px rgba(17, 34, 17, 0.05);
  border-radius: 16px;
  margin-top: -7%;
} */

.flight-header-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 1440px;
  height: 537px;
  padding: 80px 174px 120px 126px;
  gap: 10px;
  background: linear-gradient(
      90deg,
      rgba(0, 35, 77, 0.63) 11.46%,
      rgba(0, 35, 77, 0) 77.37%
    ),
    url(../../../public/images/flights/header-image.jpg),
    lightgray -140.034px -31.907px / 123.761% 210.97% no-repeat;

  width: 100%;
  height: 537px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.flight-header-section .flight-heading {
  color: var(--Neutrals, #fff);
  /* font-family: TradeGothic LT Extended; */
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.flight-header-section .flight-subheading {
  color: var(--Neutrals, #ffffff);
  /* Montserrat/Medium/20px */
  /* font-family: Montserrat; */
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}

.select-option {
  width: 100%;
  border: 1px solid grey;
  padding: 2px;
  border-radius: 5px;
}

.datepicker {
  font-size: 14.5px;
  padding: 2px;
  border-radius: 5px;
  border: 1px solid grey;
}
#Trip {
  font-size: 14.5px;
}

#bookingclass {
  font-size: 14.5px;
}

.extra_section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
  width: 1232px;
  margin: 0 auto;
  gap: 24px;
}

.extra-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 12px;
}

.flight-header-section h2 {
  color: white;
  text-align: center;
  font-size: 52px;
  font-weight: 700;
  padding-top: 150px;
}
.flight-header-section p {
  color: white;
  opacity: 0.8;
  text-align: center;
  font-size: 15px;
}

/* fall into travel section */
.fall-into-travel-header p {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #000000;
  width: 1232px;
  margin: 0 auto;
}
.fall-into-travel-header {
  width: 1232px;
  margin: 0 auto;
}

.fall_into_travel {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-evenly;
  align-items: start;
  gap: 24px;
  width: 1232px;
  margin: 0 auto;
}

.left_card_container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 24px;
}

.right_card_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.fall_into_travel .left_card {
  width: 392px;
  height: 152px;
  border-radius: 8px;
}

/* .fall_into_travel .left_card {
  background-color: #f8fcfb;
} */
.fall_into_travel .right_card {
  width: 392px;
  border-radius: 8px;
}
.fall_into_travel .right_card .card-img {
  height: 328px;
  border-radius: 8px;
}
.fall_into_travel .right_card .card-img-overlay {
  margin-top: 190px;
}
.fall_into_travel .left_card .card-img-overlay {
  margin-top: 10px;
}

.fall_into_travel .btn-primary {
  width: 150px;
  background: #1d91cc;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 14px;
}

/* top-destinations-section start */
.top-destinations-section {
  width: 1232px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 150px;
}
.top-destinations-section .info {
  width: 444px;
}
.top-destinations-section h1 {
  width: 444px;
  color: #141e38;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}
.top-destinations-section h4 {
  width: 444px;
  color: #141e38;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-top: 22px;
  margin-bottom: 22px;
  text-align: justify;
}
.top-destinations-section button {
  display: flex;
  padding: 16px 40px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 24px;
  border: 1px solid #e0b100;
  background: #e0b100;
  color: #f5f5f5;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}

.destination-card-container .card-title {
  color: #e0b100;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.destination-card-container .card-text {
  color: #141e38;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}

.destination-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}
/* top-destinations-section end */

@media screen and (min-width: 577px) and (max-width: 991px) {
  .fall-into-travel {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
    align-items: center;
    row-gap: 14px;
    /* gap: 14px; */
  }

  .extra-section .btn {
    gap: 4px;
    background: #ffffff;
    border-radius: 4px;
    margin-top: 2%;
  }

  .extra-img {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-evenly;
    align-items: center;
    row-gap: 19px;
    column-gap: 17px;
    margin-bottom: 80px;
  }
  .flight-header-section .w-50 {
    width: 75% !important;
    margin-top: 25px;
  }
  .flight-header-section h2 {
    color: white;
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    padding-top: 180px;
    width: 100%;
  }
}

/* flight search form start */

.get-in-touch {
  max-width: 800px;
  margin: 50px auto;
  position: relative;
}
.get-in-touch .title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 2.9em;
  line-height: 48px;
  padding-bottom: 48px;
  color: #5543ca;
  background: #5543ca;
  background: -moz-linear-gradient(left, #f4524d 0%, #5543ca 100%) !important;
  background: -webkit-linear-gradient(
    left,
    #f4524d 0%,
    #5543ca 100%
  ) !important;
  background: linear-gradient(to right, #f4524d 0%, #5543ca 100%) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}
.get-in-touch h4 {
  width: 700px;
  margin: auto;
  color: #141e38;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.contact-form .form-field {
  position: relative;
  margin: 32px 0;
}
.contact-form .input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #5543ca;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}
.contact-form .input-text:focus {
  outline: none;
}
.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label {
  -webkit-transform: translateY(-24px);
  transform: translateY(-24px);
}
.contact-form .label {
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #5543ca;
  cursor: text;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.contact-form .submit-btn {
  display: inline-block;
  background-color: #000;
  background-image: linear-gradient(125deg, #a72879, #064497);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  width: 200px;
  cursor: pointer;
}

/* flight search form end */
