.card-body {
  width: 620px;
  height: auto;
}
.create-account-button {
  background-color: #8dd3bb;
  color: #112211;
  text-transform: capitalize;
  font-weight: bold;
  border: 1px solid #8dd3bb;
}
.create-account-button:hover {
  background-color: #ffffff;
  color: #131313;
  border: 1px solid #8dd3bb;
  color: salmon;
}
.login-text {
  color: salmon;
  font-weight: bold;
}
.login-text:hover {
  color: rgb(240, 109, 95);
  font-weight: bold;
  cursor: pointer;
}

.social-signUP {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}
.social-signUP button {
  border: 1px solid #8dd3bb;
}
.social-signUP button:hover {
  border: 1px solid #8dd3bb;
  background-color: #8dd3bb;
}

.signUp button {
  border: 1px solid #8dd3bb;
}
.signUp button:hover {
  border: 1px solid #8dd3bb;
  background-color: #8dd3bb;
  color: white;
}

.img-fluid {
  height: 620px;
  width: auto;
}

.input-container {
  position: relative;
  width: 100%;
  height: 3rem;
}

.password {
  width: 100% !important;
}

.input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1.5px solid #79747E;
  border-radius: 5px;
  font-family: inherit;
  font-size: inherit;
  color: #131313;
  cursor: text;
  outline: none;
  padding: 1.25rem;
  background: none;
}

.input:focus {
  border: 1.5px solid salmon;
}
.label {
  position: absolute;
  left: 1rem;
  top: 0.8rem;
  padding: 0 0.5rem;
  /* color: white; */
  cursor: text;
  transition: all 0.3s;
  background-color: white;
}

.input:focus ~ .label,
.input:not(:placeholder-shown).input:not(:focus) ~ .label {
  top: -0.5rem;
  font-size: 0.8rem;
  left: 0.8rem;
}
