.reviews-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
  align-self: center;
  gap: 14px;
}

.review-header {
  /* padding-top: 80px; */
  padding-bottom: 20px;
  width: 90%;
  margin: auto;
}
.review .card-title {
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  color: #112211;
}
.review .card-text {
  font-size: 13px;
  font-weight: 600;
  text-transform: capitalize;
  color: #112211;
  opacity: 0.7;
}

@media screen and (max-width: 576px) {
  .reviews-container {
    gap: 22px;
    width: 90%;
    margin: 0 auto;
  }
}
