.reviews-container {
  gap: 22px;
  width: 90%;
  margin: 0 auto;
}

.review-header {
  /* padding-top: 80px; */
  padding-bottom: 20px;
  width: 90%;
  margin: auto;
}
.user-name {
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  color: #112211;
}
.user-text {
  font-size: 13px;
  font-weight: 600;
  text-transform: capitalize;
  color: #112211;
  opacity: 0.7;
}

@media screen and (max-width: 576px) {
  .reviews-container {
    gap: 22px;
    width: 90%;
    margin: 0 auto;
  }
}
