.place-section .location_card {
  width: 18.438rem;
}
.place-section .location_card .card-title {
  width: 18.438rem;
  color: #181818;
  /* font-family: SF Pro Display; */
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.place-section .location_card .card-text {
  width: 18.438rem;
  color: #181818;
  /* font-family: SF Pro Display; */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.28px;
}

/* @media screen and (max-width: 576px) {
  .trip-card-body {
    margin-top: 0px;
  }
  .place-section .card {
    width: 380.33px;
    height: 122px;
  }
}

@media screen and (min-width: 577px) and (max-width: 991px) {
  .place-section .card {
    width: 539.33px;
    height: 122px;
  }
} */
