body {
  margin: 0;
  font-family: "Khula", sans-serif;
  overflow-x: hidden;
  background-color: #f8fcfb;
}

code {
  font-family: "Khula", sans-serif;
}

/* .outlet {
  width: 1240px;
  margin: 0 auto;
} */
